<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">Contact Us</h1>
 <p>Name: Daniel Moses</p>
 <p>Address: Herott-Watt University, Dubai Knowledge Park</p>
 <p>Phone: 0562100384</p>
 <p>Email: jdm2003@hw.ac.uk</p>
 <p>_</p>
 </div>
<%- include('footer'); -%>